.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ededed;
}

.nav__logo {
  height: 3rem;
}

h1 {
  color: #777777;
}
